*{
    margin: 15px; // if it's going to do a problem deleted it 
    box-sizing: border-box;
    background-color: bisque
}


@import './reservation';
@import './customer';
// @import './deletedModalFood';
@import './modalFood.scss';