#cardFood{
    display: none;
    width: 70vw;
    height: 70vh;
    // height: 800px;
    background: darkblue;
    // position: relative;
 
    // &--container{
        
    // }
    
    // top: -100%;
}